@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Spectral:wght@600&display=swap");

/* ---// CSS Root Variables //--- */
:root {
  /* ---// Fonts //--- */
  --font-headings: "Spectral", serif;
  --font-copy-text: "Poppins", sans-serif;
  --font-display: "Lobster", cursive;

  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  --font-size-body: calc(12.5px + (16 - 12.5) * ((100vw - 390px) / (1250 - 390)));

  /* ---// Colors //--- */
  --primary-color-green: hsl(168, 96%, 10%);

  --accent-color-light-blue: hsl(209, 83%, 81%);
  --accent-color-beige: hsl(35, 26%, 86%);

  --copy-text-color-black: hsl(336, 19%, 5%);
  --copy-text-color-white: hsl(0, 0%, 100%);

  --text-color-disable: hsl(0, 1%, 74%);
  --text-color-disable-darker: hsl(0, 1%, 44%);

  --bg-color-light: hsl(30, 100%, 99%);
  --bg-color-disaible: hsl(60, 2%, 88%);
  --bg-glass-dark: hsla(0, 0%, 0%, 0.3);
  --border-color-glass-light: hsla(0, 6%, 87%, 0.47);

  /* ---// Styling //--- */
  --containers-shadows: 4px 4px 4px var(--bg-glass-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ---// Colors //--- */
    --primary-color-green: hsl(168, 96%, 10%);

    --accent-color-light-blue: hsl(209, 83%, 81%);
    --accent-color-beige: hsl(35, 26%, 86%);

    --copy-text-color-black: hsl(336, 19%, 5%);
    --copy-text-color-white: hsl(0, 0%, 100%);

    --bg-color-light: hsl(30, 100%, 99%);
  }
}

/* ---// Reset //--- */
* {
  /* outline: 2px dotted hotpink; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

/* ---// Basic Styles & Reusable Styles //--- */

html,
body {
  overflow-x: hidden;
  font: var(--font-size-body) var(--font-copy-text);
  color: var(--copy-text-color-black);
  background: var(--bg-color-light);
  min-width: 390px;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* -// CSS Element Selector//-*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

form {
  flex-wrap: nowrap;
  gap: 1rem;
}
label {
  border-radius: 8px;
  gap: 5px;
}

article {
  /*   background-color: var(--primary-color-green);
 */
  color: var(--copy-text-color-white);
  padding-top: 2rem;
}

article h2 {
  text-align: center;
}

/* -// Class Selectors  //- */

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 20px;
  box-shadow: var(--containers-shadows);
  font: 700 var(--font-size-body) var(--font-copy-text);
}
.button:hover {
  background: var(--copy-text-color-black);
  color: var(--copy-text-color-black);
  text-shadow: -1px -1px 0 var(--accent-color-light-blue), 1px -1px 0 var(--accent-color-light-blue), -1px 1px 0 var(--accent-color-light-blue), 1px 1px 0 var(--accent-color-light-blue);
  border: none;
}
.primary-button {
  background: var(--accent-color-light-blue);
  color: var(--bg-color-light);
  text-shadow: -1px -1px 0 var(--copy-text-color-black), 1px -1px 0 var(--copy-text-color-black), -1px 1px 0 var(--copy-text-color-black), 1px 1px 0 var(--copy-text-color-black);
  border: none;
}
.secondary-button {
  background: var(--bg-color-light);
  color: var(--copy-text-color-black);
  text-shadow: -1px -1px 0 var(--accent-color-light-blue), 1px -1px 0 var(--accent-color-light-blue), -1px 1px 0 var(--accent-color-light-blue), 1px 1px 0 var(--accent-color-light-blue);
  border: solid 1px var(--accent-color-light-blue);
}

.bg-container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  position: relative;
  background-size: cover;
  background-color: var(--copy-text-color-black);
  background-blend-mode: difference;
  aspect-ratio: 1/0.8;
}

.glass-container {
  justify-content: space-around;
  text-align: center;
  color: var(--bg-color-light);
  border-radius: 20px;
  border: solid 1px var(--border-color-glass-light);
  background-color: var(--bg-glass-dark);
  box-shadow: var(--containers-shadows);
}

.title {
  color: var(--accent-color-light-blue);
}

.duo-button-container {
  justify-content: space-around;
}

.article-darck {
  background-color: var(--primary-color-green);
}
.article-info {
  margin-top: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.img-container {
  position: relative;
  /* height: 22.38rem; */
  aspect-ratio: 1 / 0.8;
  flex: 1 1 20.13rem;
}

.article-text {
  flex: 1 1 22.38rem;
  justify-content: center;
  align-items: flex-start;
  padding: 2.18rem 2rem;
}

.article-text p {
  padding-bottom: 2.94rem;
  display: inline-block;
}

.display-text {
  font: 4rem var(--font-display);
  color: var(--accent-color-light-blue);
  margin-bottom: 1rem;
  text-align: center;
}

.icons-group {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 65%;
  margin: 4rem auto;
  gap: 2rem;
}
.icon-container {
  width: 8.5rem;
  gap: 1.2rem;
  padding: 8px 12px 8px 12px;
  align-items: center;
  background-color: var(--copy-text-color-white);
  box-shadow: var(--containers-shadows);
  border-radius: 8px;
}

.caption-text {
  font: 700 0.8rem var(--font-headings);
  color: var(--primary-color-green);
}

/*----------------------------// MOBIL FIRST //--------------------------  */
/* Navigation */
.navigation-desktop,
nav button {
  display: none;
}

nav {
  background-color: var(--primary-color-green);
  justify-content: space-between;
  padding: 24px;
}

.burger-button {
  justify-content: space-around;
  background-color: var(--primary-color-green);
  position: relative;
  border: none;
  padding: 0;
}
.burguer-span {
  display: block;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color-light-blue);
  border-radius: 8px;

  /* Animation */
  transition: all 0.2s;
  transform-origin: 50% 50%;
}

.middle-top,
.middle-bottom {
  position: absolute;
  top: 48%;
}

/* Hamburguer button animation */

.open .burguer-span:first-child {
  transform: translateY(10px);
  background-color: var(--accent-color-beige);
  opacity: 0;
}
.open .middle-top {
  transform: rotate(45deg);
  background-color: var(--accent-color-beige);
}
.open .middle-bottom {
  transform: rotate(-45deg);
  background-color: var(--accent-color-beige);
}

.open.middle-top,
.open.middle-bottom {
  transition-delay: 2s;
}
.open .burguer-span:last-child {
  transform: translateY(-11px);
  background-color: var(--accent-color-beige);
  opacity: 0;
}

/* Menu Mobil */
.menus-mobil {
  background-color: var(--primary-color-green);
  font: bold 1rem var(--font-copy-text);
}

.menus-mobil a {
  color: var(--accent-color-beige);
  padding: 2rem;
  display: block;
}

.menus-mobil a:hover,
.navigation-desktop a:hover {
  color: var(--accent-color-light-blue);
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* -------// Footer //------*/
footer {
  flex-wrap: wrap;
  padding: 2rem;
  gap: 3rem;
  justify-content: space-around;
  width: 100%;
  background-color: var(--primary-color-green);
  color: var(--accent-color-beige);
}
footer > div {
  gap: 1rem;
  padding-bottom: 1.31rem;
  border-bottom: 1px solid var(--bg-color-disaible);
}

footer > div:first-child {
  flex: 0 1 200px;
}
.long-logo {
  align-items: center;
}
.hero {
  max-width: calc(314px + 2vw); /* 19.63rem */
  gap: 1rem;
  padding: 2rem;
}
@media (600px<=width) {
  img {
    border-radius: 8px 0 0;
  }
  .bg-container {
    aspect-ratio: 1/0.5;
  }

  .hero {
    max-width: calc(314px + 4vw);
    padding: 1rem;
  }

  .icons-group {
    max-width: 75%;
    gap: 4rem;
  }
}
@media (960px <= width) {
  .burger-button {
    display: none;
  }

  nav button {
    align-self: center;
  }
  .navigation-desktop,
  nav button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation-desktop a {
    max-width: 9rem;
    text-align: center;
    color: var(--accent-color-beige);
    font: 700 1rem var(--font-copy-text);
    padding: 1rem;
    display: block;
  }
  footer > div {
    border-bottom: none;
  }
  footer > div:not(h3) {
    font-size: 12px;
  }
  footer h3 {
    font-size: 1.2rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
