@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Spectral:wght@600&display=swap");

/* ---// CSS Root Variables //--- */
:root {
  /* ---// Fonts //--- */
  --font-headings: "Spectral", serif;
  --font-copy-text: "Poppins", sans-serif;
  --font-display: "Lobster", cursive;

  /* ---// Colors //--- */
  --primary-color-green: hsl(168, 96%, 10%);

  --accent-color-light-blue: hsl(209, 83%, 81%);
  --accent-color-beige: hsl(35, 26%, 86%);

  --copy-text-color-black: hsl(336, 19%, 5%);
  --copy-text-color-white: hsl(0, 0%, 100%);

  --bg-color-light: hsl(30, 100%, 99%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ---// Colors //--- */
    --primary-color-green: hsl(168, 96%, 10%);

    --accent-color-light-blue: hsl(209, 83%, 81%);
    --accent-color-beige: hsl(35, 26%, 86%);

    --copy-text-color-black: hsl(336, 19%, 5%);
    --copy-text-color-white: hsl(0, 0%, 100%);

    --bg-color-light: hsl(30, 100%, 99%);
  }
}

/* ---// Reset //--- */
* {
  outline: 2px dotted hotpink;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

/* ---// Basic Styles //--- */

html,
body {
  font: 100% var(--font-copy-text);
  color: var(--copy-text-color-black);
  background: var(--bg-color-light);
  min-width: 390px;
}

/*----------// Mobil First //----------  */
/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--primary-color-green);
}
#burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--primary-color-green);
  position: relative;
  border: none;
  padding: 0;
}
.burguer-span {
  display: block;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color-light-blue);
  transition: all 0.2s;
  transform-origin: 50% 50%;
}

.middle-top,
.middle-bottom {
  position: absolute;
  top: 48%;
}

/* Hamburguer button animation */

.open .burguer-span:first-child {
  transform: translateY(10px);
  opacity: 0;
}
.open .middle-top {
  transform: rotate(45deg);
}
.open .middle-bottom {
  transform: rotate(-45deg);
}

.open.middle-top,
.open.middle-bottom {
  transition-delay: 2s;
}
.open .burguer-span:last-child {
  transform: translateY(-11px);
  opacity: 0;
}

@media (744px <= width <= 1440px) {
  /* etc. */
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
