@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Spectral:wght@600&display=swap");

/* ---// CSS Root Variables //--- */
:root {
  /* ---// Fonts //--- */
  --font-headings: "Spectral", serif;
  --font-copy-text: "Poppins", sans-serif;
  --font-display: "Lobster", cursive;

  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  --font-size-body: calc(12.5px + (16 - 12.5) * ((100vw - 390px) / (1440 - 390)));

  /* ---// Colors //--- */
  --primary-color-green: hsl(168, 96%, 10%);

  --accent-color-light-blue: hsl(209, 83%, 81%);
  --accent-color-beige: hsl(35, 26%, 86%);

  --copy-text-color-black: hsl(336, 19%, 5%);
  --copy-text-color-white: hsl(0, 0%, 100%);

  --text-color-disable: hsl(0, 1%, 74%);
  --text-color-disable-darker: hsl(0, 1%, 44%);

  --bg-color-light: hsl(30, 100%, 99%);
  --bg-color-disaible: hsl(60, 2%, 88%);
  --bg-glass-dark: hsla(0, 0%, 0%, 0.3);
  --border-color-glass-light: hsla(0, 6%, 87%, 0.47);

  /* ---// Styling //--- */
  --containers-shadows: 4px 4px 4px var(--bg-glass-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* ---// Colors //--- */
    --primary-color-green: hsl(168, 96%, 10%);

    --accent-color-light-blue: hsl(209, 83%, 81%);
    --accent-color-beige: hsl(35, 26%, 86%);

    --copy-text-color-black: hsl(336, 19%, 5%);
    --copy-text-color-white: hsl(0, 0%, 100%);

    --bg-color-light: hsl(30, 100%, 99%);
  }
}

/* ---// Reset //--- */
* {
  /*   outline: 2px dotted hotpink;
 */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

/* ---// Basic Styles & Reusable Styles //--- */

html,
body {
  /*   overflow-x: hidden;
 */
  font: var(--font-size-body) var(--font-copy-text);
  color: var(--copy-text-color-black);
  background: var(--bg-color-light);
  min-width: 390px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* -// CSS Element Selector//-*/
/* To calculate the ratios, I used the common typography practice of setting the font size of the base element 
(in this case, html or body) to a reasonable size, like 16px, and then calculating the size of the other 
elements relative to that base size.
For example, if the base font size is 16px and the ratio between the base size and the h1 size is 1.5, 
then the h1 font size would be 24px (16px x 1.5).
Here are the typical ratios for the different header sizes:
Radios        %           rem
h1: 2.5       100         3.15
h2: 2          75%        2.36
h3: 1.5        56.25      1.77
h4: 1.25       42.18      1.49
h5: 1          31.64      0.94
h6: 0.875      23.73      0.75*/

h1 {
  font: 3.15rem var(--font-headings);
}

h2 {
  font: 2.36rem var(--font-headings);
}

h3 {
  font: 1.77rem var(--font-headings);
}

h4 {
  font: 1.48rem var(--font-headings);
}

h5 {
  font: 0.94rem var(--font-headings);
}

/* h6 {
  font: 0.75rem var(--font-headings);
} */

form {
  flex-wrap: nowrap;
  gap: 1rem;
}
label {
  border-radius: 8px;
  gap: 5px;
}

/* -// Class Selectors  //- */

/* -// Layouts //- */
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: 60% 1fr;
}
.button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 20px;
  box-shadow: var(--containers-shadows);
  font: 700 var(--font-size-body) var(--font-copy-text);
}
.button:hover {
  background: var(--copy-text-color-black);
  color: var(--copy-text-color-black);
  text-shadow: -1px -1px 0 var(--accent-color-light-blue), 1px -1px 0 var(--accent-color-light-blue), -1px 1px 0 var(--accent-color-light-blue), 1px 1px 0 var(--accent-color-light-blue);
  border: none;
}
.primary-button {
  background: var(--accent-color-light-blue);
  color: var(--bg-color-light);
  text-shadow: -1px -1px 0 var(--copy-text-color-black), 1px -1px 0 var(--copy-text-color-black), -1px 1px 0 var(--copy-text-color-black), 1px 1px 0 var(--copy-text-color-black);
  border: none;
}
.secondary-button {
  background: var(--bg-color-light);
  color: var(--copy-text-color-black);
  text-shadow: -1px -1px 0 var(--accent-color-light-blue), 1px -1px 0 var(--accent-color-light-blue), -1px 1px 0 var(--accent-color-light-blue), 1px 1px 0 var(--accent-color-light-blue);
  border: solid 1px var(--accent-color-light-blue);
}

.bg-container {
  width: 100%;
  padding: 3rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  position: relative;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/0.8;
}

.glass-container {
  justify-content: space-around;
  text-align: center;
  color: var(--bg-color-light);
  border-radius: 20px;
  border: solid 1px var(--border-color-glass-light);
  background-color: var(--bg-glass-dark);
  box-shadow: var(--containers-shadows);
  z-index: 2;
}

.title {
  color: var(--accent-color-light-blue);
}

.duo-button-container {
  justify-content: space-around;
}

.bg-dark {
  background-color: var(--primary-color-green);
  color: var(--copy-text-color-white);
}

.title-cta-sect {
  grid-column: 1 / -1;
}
.article-info {
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  grid-column: 1 / -1;
  justify-content: center;
}

.img-container {
  position: relative;
  aspect-ratio: 1 / 0.8;
  flex: 1 1 15rem;
}

.article-text {
  flex: 1 1 25rem;
  padding: 2.18rem 1.5rem;
  gap: 1rem;
  justify-content: center;
}

.display-text {
  font: 4rem var(--font-display);
  color: var(--accent-color-light-blue);
  margin-bottom: 1rem;
  text-align: center;
}
.title-display {
  font: 2.36rem var(--font-display);
  color: var(--accent-color-light-blue);
  text-align: center;
}
.caption-text {
  font: 700 0.8rem var(--font-headings);
  color: var(--primary-color-green);
}

.carousel {
  align-items: center;
  max-width: 100%;
  height: 35rem;
  overflow-x: hidden;
}

.cards-container {
  gap: 2rem;
  width: 80%;
  height: 70%;
  overflow-x: scroll;
  margin: auto;
}

.cards-container::-webkit-scrollbar {
  /* this is going to hide the scroll bar */
  display: none;
}
.card {
  position: relative;
  flex: 0 0 17rem;
  height: 100%;
  border-radius: 8px;
  box-shadow: var(--containers-shadows);
  background-size: cover;
  background-position: center;
}
.card::before,
.bg-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 1;
}

/*----------------------------// MOBIL FIRST //--------------------------  */
/* Navigation */
.navigation-desktop,
nav button {
  display: none;
}

nav {
  background-color: var(--primary-color-green);
  justify-content: space-between;
  padding: 2rem;
}

.burger-button {
  justify-content: space-around;
  background-color: var(--primary-color-green);
  position: relative;
  border: none;
  padding: 0;
}
.burguer-span {
  display: block;
  width: 48px;
  height: 4px;
  background-color: var(--accent-color-light-blue);
  border-radius: 8px;

  /* Animation */
  transition: all 0.2s;
  transform-origin: 50% 50%;
}

.middle-top,
.middle-bottom {
  position: absolute;
  top: 48%;
}

/* Hamburguer button animation */

.open .burguer-span:first-child {
  transform: translateY(10px);
  background-color: var(--accent-color-beige);
  opacity: 0;
}
.open .middle-top {
  transform: rotate(45deg);
  background-color: var(--accent-color-beige);
}
.open .middle-bottom {
  transform: rotate(-45deg);
  background-color: var(--accent-color-beige);
}

.open.middle-top,
.open.middle-bottom {
  transition-delay: 2s;
}
.open .burguer-span:last-child {
  transform: translateY(-11px);
  background-color: var(--accent-color-beige);
  opacity: 0;
}

/* Menu Mobil */
.menus-mobil {
  background-color: var(--primary-color-green);
  font: bold 1rem var(--font-copy-text);
}

.menus-mobil a {
  color: var(--accent-color-beige);
  padding: 2rem;
  display: block;
}

.menus-mobil a:hover,
.navigation-desktop a:hover {
  color: var(--accent-color-light-blue);
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* -------// Footer //------*/
footer {
  flex-wrap: wrap;
  padding: 2rem;
  gap: 3rem;
  justify-content: space-around;
  width: 100%;
  background-color: var(--primary-color-green);
  color: var(--accent-color-beige);
}
footer > div {
  gap: 1rem;
  padding-bottom: 1.31rem;
  border-bottom: 1px solid var(--bg-color-disaible);
}

.logo-concept {
  flex: 0 1 200px;
  gap: 2rem;
}
.long-logo {
  align-items: center;
  justify-content: flex-start;
}

/* -------// Hero Sect //-------*/
.hero {
  max-width: calc(314px + 4vw); /* 19.63rem */
  gap: 1rem;
  padding: 2rem;
}

/* -------// Icon Sect //-------*/

.icons-section {
  width: 90%;
  margin: 3rem auto;
}
.icons-group {
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 90%;
  margin: 4rem auto;
  gap: 2rem;
}
.icon-container {
  width: 9rem;
  gap: 1.2rem;
  padding: 8px 12px 8px 12px;
  align-items: center;
  background-color: var(--copy-text-color-white);
  box-shadow: var(--containers-shadows);
  border-radius: 8px;
}

/* -------// Call to Action Sect//-------*/

.cta-section {
  padding-top: 3rem;
}

/* -------// Services Card Sect//-------*/

.card article {
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  z-index: 2;
}

.card article a {
  color: var(--accent-color-light-blue);
}

.card article a:active {
  color: var(--accent-color-beige);
  text-shadow: -1px -1px 0 var(--copy-text-color-black), 1px -1px 0 var(--copy-text-color-black), -1px 1px 0 var(--copy-text-color-black), 1px 1px 0 var(--copy-text-color-black);
}

/* -------// Second Call to Action Sect//-------*/
.cta-2-title {
  align-items: center;
  color: var(--primary-color-green);
}
.img-group {
  gap: 10px;
  position: relative;
  flex: 0 1 40rem;
  height: 35rem;
}

.img-group img {
  border-radius: 8px;
}
/* ------------------------------// Media Queries //-------------------------------------- */
@media (600px<=width) {
  img {
    border-radius: 8px 0 0;
  }
  .bg-container {
    aspect-ratio: 1/0.5;
  }

  .hero {
    max-width: calc(314px + 15vw);
    padding: 2rem;
  }

  .icons-group {
    max-width: 60%;
    gap: 4rem;
  }

  .cards-container {
    gap: 2rem;
    width: 70%;
    justify-content: flex-start;
  }
}
@media (960px <= width) {
  .burger-button {
    display: none;
  }

  nav button {
    align-self: center;
  }
  .navigation-desktop,
  nav button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation-desktop a {
    max-width: 9rem;
    text-align: center;
    color: var(--accent-color-beige);
    font: 700 1rem var(--font-copy-text);
    padding: 1rem;
    display: block;
  }
  footer > div {
    border-bottom: none;
  }
  footer > div:not(h3) {
    font-size: 12px;
  }
  footer h3 {
    font-size: 1.2rem;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
